.box {
  position: relative;
  height: 50px;
  background-color: #4a4a4a;
  visibility: visible;
}
.hide {
  visibility: hidden;
}
.boxesConteiner {
  display: grid;
  grid-gap: 2px;
  max-width: 310px;
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  margin: 10px auto;
  border: 1px solid black;
}
.boxWithRing::before{
  position: absolute;
  left: 6px;
  top: 6px;
  content: '';
  width: 30px;
  height: 30px;
  border: 4px solid gold;
  border-radius: 50px;
  z-index: -1;
  visibility: visible;
}
.counts {
  display: inline-block;
}
